name: llm_midi

on: [push, pull_request]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        activate-environment: llm_midi
        environment-file: environment.yml
        python-version: "3.10"
        auto-activate-base: false
